<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.chandanand.misc</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>5243FF02-90A5-4B0D-9421-D7F9F689E722</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AEC5C8B1-6571-4C83-8D02-CF62656FBE37</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AEC5C8B1-6571-4C83-8D02-CF62656FBE37</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8A2904F4-13C1-41D5-B290-E280B4646242</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C786EED8-2EDD-40E5-B26F-25640E57247D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5243FF02-90A5-4B0D-9421-D7F9F689E722</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E9501A10-F075-41C7-B83E-F53E3E9789ED</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B6BB6FB0-728C-4CE6-9452-3577A023E5D4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Chand Anand</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Misc Stuff</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>lunch</string>
				<key>subtext</key>
				<string>Take a lunch break</string>
				<key>text</key>
				<string>Lunch Break</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>E9501A10-F075-41C7-B83E-F53E3E9789ED</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>command</key>
				<integer>6</integer>
				<key>confirm</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.systemcommand</string>
			<key>uid</key>
			<string>B6BB6FB0-728C-4CE6-9452-3577A023E5D4</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>done</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Done for the day</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>C786EED8-2EDD-40E5-B26F-25640E57247D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>command</key>
				<integer>3</integer>
				<key>confirm</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.systemcommand</string>
			<key>uid</key>
			<string>AEC5C8B1-6571-4C83-8D02-CF62656FBE37</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>command</key>
				<integer>5</integer>
				<key>confirm</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.systemcommand</string>
			<key>uid</key>
			<string>8A2904F4-13C1-41D5-B290-E280B4646242</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>command</key>
				<integer>9</integer>
				<key>confirm</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.systemcommand</string>
			<key>uid</key>
			<string>5243FF02-90A5-4B0D-9421-D7F9F689E722</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>5243FF02-90A5-4B0D-9421-D7F9F689E722</key>
		<dict>
			<key>xpos</key>
			<integer>255</integer>
			<key>ypos</key>
			<integer>180</integer>
		</dict>
		<key>8A2904F4-13C1-41D5-B290-E280B4646242</key>
		<dict>
			<key>xpos</key>
			<integer>635</integer>
			<key>ypos</key>
			<integer>180</integer>
		</dict>
		<key>AEC5C8B1-6571-4C83-8D02-CF62656FBE37</key>
		<dict>
			<key>xpos</key>
			<integer>445</integer>
			<key>ypos</key>
			<integer>180</integer>
		</dict>
		<key>B6BB6FB0-728C-4CE6-9452-3577A023E5D4</key>
		<dict>
			<key>xpos</key>
			<integer>250</integer>
			<key>ypos</key>
			<integer>30</integer>
		</dict>
		<key>C786EED8-2EDD-40E5-B26F-25640E57247D</key>
		<dict>
			<key>xpos</key>
			<integer>35</integer>
			<key>ypos</key>
			<integer>180</integer>
		</dict>
		<key>E9501A10-F075-41C7-B83E-F53E3E9789ED</key>
		<dict>
			<key>xpos</key>
			<integer>35</integer>
			<key>ypos</key>
			<integer>30</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
