<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>uber</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>027AF230-852F-4FFB-9700-BE120559B4AD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EE152337-AA4C-40AF-BABA-AFA9F612D797</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>05E29016-F629-4B41-A66B-6C9D15AE78A2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E98D72EF-995C-424E-8D3A-8D1F98CF5B8E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>45862DF0-DEFD-4347-87D7-180C9DABB730</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>733C2A9D-B961-4A2E-A6E1-3459CE00FDEA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4F496819-8703-45FC-ABEB-A6904F50F194</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FD3FF351-C42A-4F2C-B32E-EC8ECEC3E7A9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>53DAD5D4-BE5A-4308-8B83-8098D1939A61</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9851A325-B5BA-41DC-8E9A-334FE2B9BC4A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5771C7ED-AA9F-4E9A-82A7-28431FD3FE4D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4701E3CA-BD1D-4D76-B01D-669A6428AF66</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>58BB04E8-397E-44F0-9C06-D9713C9D2A67</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>75FD5966-61C0-44DC-B1DD-71C3D46354EE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>641065D8-B24D-4CCC-9316-C526D052F8D1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>86DFF088-FCFB-409F-9F83-CD64011785B9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>68E0E405-7AE3-4D51-B973-382293414DCE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0DF759F7-EB9C-4161-BB8D-2D08A53F78AB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>81F8B8C6-C4E7-4E19-8D46-B99E68A9D05D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3D23F549-7364-490B-B980-A2A968AB94B1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>5CB966E7-8295-4665-AF81-43A318137FB6</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>13C203FF-06BD-4BBB-A2C7-981248479D3C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8DCFC571-1B79-4BA1-8F96-EC2045EC76EC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2C26801C-6B19-48ED-8C9F-95C3128317A4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9DF0DB96-0401-4C60-AB92-8E8369F027BB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AEB8EE1C-664A-4459-BC51-B940822E6577</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9F589220-2DFF-4DBF-A8F0-03E13C710695</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>81F8B8C6-C4E7-4E19-8D46-B99E68A9D05D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A98B4135-7F75-411E-9184-1058071F1EB8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C131E1C2-B403-40E6-B7FC-DAF9F5C76461</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B2BD132D-1126-4901-8A74-79A2774A23BD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FC10F7D1-D7FA-456E-B321-7DCB9333FDCD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C91ADF49-2485-40E7-BEB2-9E28A30FAE19</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>509B129C-F9D2-4935-927D-A575E9425228</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D8EAD23F-3B4D-478E-BEE5-BE8B2E785794</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EC651A29-7A59-4EFD-86E6-1928E14B5CF6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DCECCC33-758E-4911-A927-9462142589DE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DFEDE07C-F706-458C-9FB1-1A2E3ED67974</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F369816A-ED69-40D6-BAEA-1B1D27D15459</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BC9025D6-F94F-4D1B-8C2F-C00E10C38DE2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FF7A4A4C-CC03-4104-A70F-417FDE021A0F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CEE3F645-F926-4765-B0DF-DF99B60A329F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Chand Anand</string>
	<key>description</key>
	<string>Uber Alfred Workflow</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Uber</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://search.uberinternal.com/kibana3v2/#/dashboard/elasticsearch/{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>0DF759F7-EB9C-4161-BB8D-2D08A53F78AB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>elk</string>
				<key>subtext</key>
				<string>e.g. elk trident</string>
				<key>text</key>
				<string>Open Kibana</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>68E0E405-7AE3-4D51-B973-382293414DCE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>oncall</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Open Oncall Dashboard</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>5771C7ED-AA9F-4E9A-82A7-28431FD3FE4D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://oncall.uberinternal.com/rotation/{var:my_oncall_dashboard_team_url}/events/</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>4701E3CA-BD1D-4D76-B01D-669A6428AF66</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://graphite.uberinternal.com/grafana2/dashboard/db/{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>CEE3F645-F926-4765-B0DF-DF99B60A329F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>grafana</string>
				<key>subtext</key>
				<string>e.g. grafana trident</string>
				<key>text</key>
				<string>Open Grafana</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>FF7A4A4C-CC03-4104-A70F-417FDE021A0F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>http://t.uber.com/ap-runbook-oncall</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>733C2A9D-B961-4A2E-A6E1-3459CE00FDEA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>runbook</string>
				<key>subtext</key>
				<string>Open Authoring Platform runbook</string>
				<key>text</key>
				<string>Open Runbook</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>45862DF0-DEFD-4347-87D7-180C9DABB730</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>umonitor</string>
				<key>subtext</key>
				<string>e.g. umonitor bloc</string>
				<key>text</key>
				<string>Open umonitor</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>9DF0DB96-0401-4C60-AB92-8E8369F027BB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://umonitor.uberinternal.com/services/{query}/overview</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>AEB8EE1C-664A-4459-BC51-B940822E6577</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://outages.uberinternal.com/</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>509B129C-F9D2-4935-927D-A575E9425228</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>commander</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>List Active Outages</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>C91ADF49-2485-40E7-BEB2-9E28A30FAE19</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>uuid</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Copy My UUID To Clipboard</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>D8EAD23F-3B4D-478E-BEE5-BE8B2E785794</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>search</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Search Uber</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>641065D8-B24D-4CCC-9316-C526D052F8D1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://usearch.uberinternal.com/?q={query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>86DFF088-FCFB-409F-9F83-CD64011785B9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{var:my_uuid}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>EC651A29-7A59-4EFD-86E6-1928E14B5CF6</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://usearch.uberinternal.com/?q={query}&amp;t=people</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>FD3FF351-C42A-4F2C-B32E-EC8ECEC3E7A9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>people</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Find Uber Employees</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>4F496819-8703-45FC-ABEB-A6904F50F194</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>engdocs</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Open Engdocs</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>B2BD132D-1126-4901-8A74-79A2774A23BD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://engdocs.uberinternal.com/</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>FC10F7D1-D7FA-456E-B321-7DCB9333FDCD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://usearch.uberinternal.com/?t=documents&amp;q={query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>75FD5966-61C0-44DC-B1DD-71C3D46354EE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>docs</string>
				<key>subtext</key>
				<string>Searches Google Docs, Phab Wiki, Stack Overflow, ... etc.</string>
				<key>text</key>
				<string>Search Documents</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>58BB04E8-397E-44F0-9C06-D9713C9D2A67</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://stack.uberinternal.com/search?q={query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>EE152337-AA4C-40AF-BABA-AFA9F612D797</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>stack</string>
				<key>subtext</key>
				<string>e.g. `stack exception`</string>
				<key>text</key>
				<string>Search Uber's internal Stack Overflow</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>027AF230-852F-4FFB-9700-BE120559B4AD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://gmail.com</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>C131E1C2-B403-40E6-B7FC-DAF9F5C76461</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>gmail</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Open Gmail</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>A98B4135-7F75-411E-9184-1058071F1EB8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>uown</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Search uOwn</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>05E29016-F629-4B41-A66B-6C9D15AE78A2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://uown.uberinternal.com/search?q={query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>E98D72EF-995C-424E-8D3A-8D1F98CF5B8E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://console.uberinternal.com/service/{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>2C26801C-6B19-48ED-8C9F-95C3128317A4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>galaxy</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>An Engineer's Guide to the Galaxy</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>DCECCC33-758E-4911-A927-9462142589DE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>console</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Open Infra Portal of a Service</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>8DCFC571-1B79-4BA1-8F96-EC2045EC76EC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>http://t.uber.com/galaxy_confluence</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>DFEDE07C-F706-458C-9FB1-1A2E3ED67974</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>calendar</string>
				<key>subtext</key>
				<string>Opens in your default browser</string>
				<key>text</key>
				<string>My Calendar</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>F369816A-ED69-40D6-BAEA-1B1D27D15459</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://calendar.google.com/calendar/render</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>BC9025D6-F94F-4D1B-8C2F-C00E10C38DE2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>zoom</string>
				<key>subtext</key>
				<string>e.g. `zoom 358395893`</string>
				<key>text</key>
				<string>Join a zoom meeting</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>53DAD5D4-BE5A-4308-8B83-8098D1939A61</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://uber.zoom.us/j/{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>9851A325-B5BA-41DC-8E9A-334FE2B9BC4A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://up.uberinternal.com/</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>3D23F549-7364-490B-B980-A2A968AB94B1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>up</string>
				<key>subtext</key>
				<string>e.g. up bloc</string>
				<key>text</key>
				<string>Open Up</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>9F589220-2DFF-4DBF-A8F0-03E13C710695</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{query}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string></string>
						<key>outputlabel</key>
						<string>empty</string>
						<key>uid</key>
						<string>5CB966E7-8295-4665-AF81-43A318137FB6</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>specific</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>81F8B8C6-C4E7-4E19-8D46-B99E68A9D05D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://up.uberinternal.com/project/{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>13C203FF-06BD-4BBB-A2C7-981248479D3C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string># uAlfred | Uber Alfred Workflow

An Alfred Workflow specifically designed to boost your productivity as an Uber engineer.



See the documentation at http://t.uber.com/ualfred</string>
	<key>uidata</key>
	<dict>
		<key>027AF230-852F-4FFB-9700-BE120559B4AD</key>
		<dict>
			<key>xpos</key>
			<integer>450</integer>
			<key>ypos</key>
			<integer>830</integer>
		</dict>
		<key>05E29016-F629-4B41-A66B-6C9D15AE78A2</key>
		<dict>
			<key>xpos</key>
			<integer>450</integer>
			<key>ypos</key>
			<integer>1055</integer>
		</dict>
		<key>0DF759F7-EB9C-4161-BB8D-2D08A53F78AB</key>
		<dict>
			<key>xpos</key>
			<integer>225</integer>
			<key>ypos</key>
			<integer>30</integer>
		</dict>
		<key>13C203FF-06BD-4BBB-A2C7-981248479D3C</key>
		<dict>
			<key>xpos</key>
			<integer>295</integer>
			<key>ypos</key>
			<integer>1615</integer>
		</dict>
		<key>2C26801C-6B19-48ED-8C9F-95C3128317A4</key>
		<dict>
			<key>xpos</key>
			<integer>650</integer>
			<key>ypos</key>
			<integer>1175</integer>
		</dict>
		<key>3D23F549-7364-490B-B980-A2A968AB94B1</key>
		<dict>
			<key>xpos</key>
			<integer>295</integer>
			<key>ypos</key>
			<integer>1490</integer>
		</dict>
		<key>45862DF0-DEFD-4347-87D7-180C9DABB730</key>
		<dict>
			<key>xpos</key>
			<integer>440</integer>
			<key>ypos</key>
			<integer>160</integer>
		</dict>
		<key>4701E3CA-BD1D-4D76-B01D-669A6428AF66</key>
		<dict>
			<key>xpos</key>
			<integer>650</integer>
			<key>ypos</key>
			<integer>35</integer>
		</dict>
		<key>4F496819-8703-45FC-ABEB-A6904F50F194</key>
		<dict>
			<key>xpos</key>
			<integer>35</integer>
			<key>ypos</key>
			<integer>700</integer>
		</dict>
		<key>509B129C-F9D2-4935-927D-A575E9425228</key>
		<dict>
			<key>xpos</key>
			<integer>655</integer>
			<key>ypos</key>
			<integer>290</integer>
		</dict>
		<key>53DAD5D4-BE5A-4308-8B83-8098D1939A61</key>
		<dict>
			<key>xpos</key>
			<integer>450</integer>
			<key>ypos</key>
			<integer>1300</integer>
		</dict>
		<key>5771C7ED-AA9F-4E9A-82A7-28431FD3FE4D</key>
		<dict>
			<key>xpos</key>
			<integer>440</integer>
			<key>ypos</key>
			<integer>35</integer>
		</dict>
		<key>58BB04E8-397E-44F0-9C06-D9713C9D2A67</key>
		<dict>
			<key>xpos</key>
			<integer>35</integer>
			<key>ypos</key>
			<integer>825</integer>
		</dict>
		<key>641065D8-B24D-4CCC-9316-C526D052F8D1</key>
		<dict>
			<key>xpos</key>
			<integer>35</integer>
			<key>ypos</key>
			<integer>575</integer>
		</dict>
		<key>68E0E405-7AE3-4D51-B973-382293414DCE</key>
		<dict>
			<key>xpos</key>
			<integer>30</integer>
			<key>ypos</key>
			<integer>30</integer>
		</dict>
		<key>733C2A9D-B961-4A2E-A6E1-3459CE00FDEA</key>
		<dict>
			<key>xpos</key>
			<integer>650</integer>
			<key>ypos</key>
			<integer>160</integer>
		</dict>
		<key>75FD5966-61C0-44DC-B1DD-71C3D46354EE</key>
		<dict>
			<key>xpos</key>
			<integer>235</integer>
			<key>ypos</key>
			<integer>825</integer>
		</dict>
		<key>81F8B8C6-C4E7-4E19-8D46-B99E68A9D05D</key>
		<dict>
			<key>xpos</key>
			<integer>210</integer>
			<key>ypos</key>
			<integer>1570</integer>
		</dict>
		<key>86DFF088-FCFB-409F-9F83-CD64011785B9</key>
		<dict>
			<key>xpos</key>
			<integer>235</integer>
			<key>ypos</key>
			<integer>575</integer>
		</dict>
		<key>8DCFC571-1B79-4BA1-8F96-EC2045EC76EC</key>
		<dict>
			<key>xpos</key>
			<integer>450</integer>
			<key>ypos</key>
			<integer>1175</integer>
		</dict>
		<key>9851A325-B5BA-41DC-8E9A-334FE2B9BC4A</key>
		<dict>
			<key>xpos</key>
			<integer>645</integer>
			<key>ypos</key>
			<integer>1300</integer>
		</dict>
		<key>9DF0DB96-0401-4C60-AB92-8E8369F027BB</key>
		<dict>
			<key>xpos</key>
			<integer>30</integer>
			<key>ypos</key>
			<integer>285</integer>
		</dict>
		<key>9F589220-2DFF-4DBF-A8F0-03E13C710695</key>
		<dict>
			<key>xpos</key>
			<integer>55</integer>
			<key>ypos</key>
			<integer>1550</integer>
		</dict>
		<key>A98B4135-7F75-411E-9184-1058071F1EB8</key>
		<dict>
			<key>xpos</key>
			<integer>35</integer>
			<key>ypos</key>
			<integer>1055</integer>
		</dict>
		<key>AEB8EE1C-664A-4459-BC51-B940822E6577</key>
		<dict>
			<key>xpos</key>
			<integer>225</integer>
			<key>ypos</key>
			<integer>285</integer>
		</dict>
		<key>B2BD132D-1126-4901-8A74-79A2774A23BD</key>
		<dict>
			<key>xpos</key>
			<integer>450</integer>
			<key>ypos</key>
			<integer>705</integer>
		</dict>
		<key>BC9025D6-F94F-4D1B-8C2F-C00E10C38DE2</key>
		<dict>
			<key>xpos</key>
			<integer>240</integer>
			<key>ypos</key>
			<integer>1300</integer>
		</dict>
		<key>C131E1C2-B403-40E6-B7FC-DAF9F5C76461</key>
		<dict>
			<key>xpos</key>
			<integer>235</integer>
			<key>ypos</key>
			<integer>1055</integer>
		</dict>
		<key>C91ADF49-2485-40E7-BEB2-9E28A30FAE19</key>
		<dict>
			<key>xpos</key>
			<integer>440</integer>
			<key>ypos</key>
			<integer>290</integer>
		</dict>
		<key>CEE3F645-F926-4765-B0DF-DF99B60A329F</key>
		<dict>
			<key>xpos</key>
			<integer>225</integer>
			<key>ypos</key>
			<integer>155</integer>
		</dict>
		<key>D8EAD23F-3B4D-478E-BEE5-BE8B2E785794</key>
		<dict>
			<key>xpos</key>
			<integer>450</integer>
			<key>ypos</key>
			<integer>575</integer>
		</dict>
		<key>DCECCC33-758E-4911-A927-9462142589DE</key>
		<dict>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>1175</integer>
		</dict>
		<key>DFEDE07C-F706-458C-9FB1-1A2E3ED67974</key>
		<dict>
			<key>xpos</key>
			<integer>235</integer>
			<key>ypos</key>
			<integer>1175</integer>
		</dict>
		<key>E98D72EF-995C-424E-8D3A-8D1F98CF5B8E</key>
		<dict>
			<key>xpos</key>
			<integer>650</integer>
			<key>ypos</key>
			<integer>1055</integer>
		</dict>
		<key>EC651A29-7A59-4EFD-86E6-1928E14B5CF6</key>
		<dict>
			<key>xpos</key>
			<integer>650</integer>
			<key>ypos</key>
			<integer>575</integer>
		</dict>
		<key>EE152337-AA4C-40AF-BABA-AFA9F612D797</key>
		<dict>
			<key>xpos</key>
			<integer>650</integer>
			<key>ypos</key>
			<integer>830</integer>
		</dict>
		<key>F369816A-ED69-40D6-BAEA-1B1D27D15459</key>
		<dict>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>1300</integer>
		</dict>
		<key>FC10F7D1-D7FA-456E-B321-7DCB9333FDCD</key>
		<dict>
			<key>xpos</key>
			<integer>650</integer>
			<key>ypos</key>
			<integer>705</integer>
		</dict>
		<key>FD3FF351-C42A-4F2C-B32E-EC8ECEC3E7A9</key>
		<dict>
			<key>xpos</key>
			<integer>235</integer>
			<key>ypos</key>
			<integer>700</integer>
		</dict>
		<key>FF7A4A4C-CC03-4104-A70F-417FDE021A0F</key>
		<dict>
			<key>xpos</key>
			<integer>30</integer>
			<key>ypos</key>
			<integer>155</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>my_email</key>
		<string>canand@uber.com</string>
		<key>my_oncall_dashboard_team_url</key>
		<string>b080529a-c4f7-4a55-89fd-6aa7829bd87e</string>
		<key>my_uuid</key>
		<string>65ab8b5e-22bb-4f74-9b4c-b0514a36b223</string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>my_uuid</string>
		<string>my_email</string>
		<string>my_oncall_dashboard_team_url</string>
	</array>
	<key>version</key>
	<string>1.1</string>
	<key>webaddress</key>
	<string>http://t.uber.com/ualfred</string>
</dict>
</plist>
