<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>jira</string>
	<key>category</key>
	<string>Internet</string>
	<key>connections</key>
	<dict>
		<key>3CF74D25-362B-402C-A826-E28FFE3021A1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A6CEF9CF-05E1-455C-8180-1DCACFB0A005</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A6CEF9CF-05E1-455C-8180-1DCACFB0A005</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8CFC94F8-1CAE-471A-9494-FF1760EA6ADC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>AAFA310D-F873-4D6B-ABEA-6F19D4D00C3A</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>D0FAD5DD-7B7B-4B13-AC17-B83632AABE73</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>32AE03AF-4987-4A63-B6D7-BDCBDA8E90A7</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>8EE9D5F4-483A-49AD-AEFF-E2BD3B51270A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>BB05F178-E5C9-43AC-B956-CA96D851F584</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>6C139BF4-1248-4641-8A8C-60406EBD9018</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FB50880F-9A07-4555-A966-2A13FF5F713C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9C31559D-FFB3-493E-87BC-700FC15A4EEB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Chand Anand</string>
	<key>description</key>
	<string>Jira workflows</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Jira</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://t3.uberinternal.com/secure/RapidBoard.jspa?rapidView=105&amp;quickFilter=279</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>9C31559D-FFB3-493E-87BC-700FC15A4EEB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>sprint</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Current Sprint</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>FB50880F-9A07-4555-A966-2A13FF5F713C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://t3.uberinternal.com/secure/CreateIssue!default.jspa</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>8CFC94F8-1CAE-471A-9494-FF1760EA6ADC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://t3.uberinternal.com/browse/AP-{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>D0FAD5DD-7B7B-4B13-AC17-B83632AABE73</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>create</string>
						<key>outputlabel</key>
						<string>create</string>
						<key>uid</key>
						<string>AAFA310D-F873-4D6B-ABEA-6F19D4D00C3A</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<true/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>^[0-9]+</string>
						<key>outputlabel</key>
						<string>ap task</string>
						<key>uid</key>
						<string>32AE03AF-4987-4A63-B6D7-BDCBDA8E90A7</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>my</string>
						<key>outputlabel</key>
						<string>my</string>
						<key>uid</key>
						<string>BB05F178-E5C9-43AC-B956-CA96D851F584</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>view</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>A6CEF9CF-05E1-455C-8180-1DCACFB0A005</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>task</string>
				<key>subtext</key>
				<string>Jira task operations, e.g. create, 2345 to view AP-2345</string>
				<key>text</key>
				<string>Tasks</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>3CF74D25-362B-402C-A826-E28FFE3021A1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://t3.uberinternal.com/secure/RapidBoard.jspa?rapidView=105&amp;view=planning.nodetail&amp;quickFilter=279&amp;issueLimit=100</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>8EE9D5F4-483A-49AD-AEFF-E2BD3B51270A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://t3.uberinternal.com/browse/{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>6C139BF4-1248-4641-8A8C-60406EBD9018</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>3CF74D25-362B-402C-A826-E28FFE3021A1</key>
		<dict>
			<key>xpos</key>
			<integer>25</integer>
			<key>ypos</key>
			<integer>340</integer>
		</dict>
		<key>6C139BF4-1248-4641-8A8C-60406EBD9018</key>
		<dict>
			<key>xpos</key>
			<integer>370</integer>
			<key>ypos</key>
			<integer>495</integer>
		</dict>
		<key>8CFC94F8-1CAE-471A-9494-FF1760EA6ADC</key>
		<dict>
			<key>xpos</key>
			<integer>370</integer>
			<key>ypos</key>
			<integer>180</integer>
		</dict>
		<key>8EE9D5F4-483A-49AD-AEFF-E2BD3B51270A</key>
		<dict>
			<key>xpos</key>
			<integer>370</integer>
			<key>ypos</key>
			<integer>390</integer>
		</dict>
		<key>9C31559D-FFB3-493E-87BC-700FC15A4EEB</key>
		<dict>
			<key>xpos</key>
			<integer>225</integer>
			<key>ypos</key>
			<integer>55</integer>
		</dict>
		<key>A6CEF9CF-05E1-455C-8180-1DCACFB0A005</key>
		<dict>
			<key>xpos</key>
			<integer>215</integer>
			<key>ypos</key>
			<integer>330</integer>
		</dict>
		<key>D0FAD5DD-7B7B-4B13-AC17-B83632AABE73</key>
		<dict>
			<key>xpos</key>
			<integer>370</integer>
			<key>ypos</key>
			<integer>285</integer>
		</dict>
		<key>FB50880F-9A07-4555-A966-2A13FF5F713C</key>
		<dict>
			<key>xpos</key>
			<integer>25</integer>
			<key>ypos</key>
			<integer>55</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
