<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>sourcegraph</string>
	<key>category</key>
	<string>Internet</string>
	<key>connections</key>
	<dict>
		<key>7369F708-2E57-43F0-A42A-BD04B7423242</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>ED9DA9EF-CD17-46D3-9CDA-4B748B91B461</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>88DB6AC1-61FD-4E92-A64C-5CCD921DAC62</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4274EA6D-B7E8-4D60-B308-EA490DB9F2AC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C031299F-B172-4F8F-A0BD-7FFF5F42131B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6227B379-123C-44FB-9D9C-42005D225D01</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D217F61F-10C1-45AE-8CF6-CDCA8DB72CAB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8C42494C-CD0E-419F-B0BF-1B4C4EF4690A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E7A4429D-EF2F-4891-B0AE-B7F9EF9E57A1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>30CD545F-EAF0-463B-BAC8-27706BAA2F11</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Chand Anand</string>
	<key>description</key>
	<string>Search Uber Sourcegraph</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Sourcegraph</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>idl</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Search IDLs</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>7369F708-2E57-43F0-A42A-BD04B7423242</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://sourcegraph.uberinternal.com/search?q=repo:%5Ecode%5C.uber%5C.internal/go-code%24+file:%5Eidl/code%5C.uber%5C.internal+{query}.thrift+type:path&amp;patternType=regexp</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>ED9DA9EF-CD17-46D3-9CDA-4B748B91B461</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>repo</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Search Repository</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>E7A4429D-EF2F-4891-B0AE-B7F9EF9E57A1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://sourcegraph.uberinternal.com/search?q=repo:{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>30CD545F-EAF0-463B-BAC8-27706BAA2F11</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://sourcegraph.uberinternal.com/code.uber.internal/go-code/-/tree/src/code.uber.internal/communications/authoring-platform/{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>8C42494C-CD0E-419F-B0BF-1B4C4EF4690A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>apg</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Search Authoring Platform Go services</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>D217F61F-10C1-45AE-8CF6-CDCA8DB72CAB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>file</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Search File</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>C031299F-B172-4F8F-A0BD-7FFF5F42131B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://sourcegraph.uberinternal.com/search?q=file:{query}%24+</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>6227B379-123C-44FB-9D9C-42005D225D01</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>code</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Search Everything</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>88DB6AC1-61FD-4E92-A64C-5CCD921DAC62</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://sourcegraph.uberinternal.com/search?q={query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>4274EA6D-B7E8-4D60-B308-EA490DB9F2AC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>30CD545F-EAF0-463B-BAC8-27706BAA2F11</key>
		<dict>
			<key>xpos</key>
			<integer>230</integer>
			<key>ypos</key>
			<integer>285</integer>
		</dict>
		<key>4274EA6D-B7E8-4D60-B308-EA490DB9F2AC</key>
		<dict>
			<key>xpos</key>
			<integer>235</integer>
			<key>ypos</key>
			<integer>675</integer>
		</dict>
		<key>6227B379-123C-44FB-9D9C-42005D225D01</key>
		<dict>
			<key>xpos</key>
			<integer>235</integer>
			<key>ypos</key>
			<integer>545</integer>
		</dict>
		<key>7369F708-2E57-43F0-A42A-BD04B7423242</key>
		<dict>
			<key>xpos</key>
			<integer>35</integer>
			<key>ypos</key>
			<integer>155</integer>
		</dict>
		<key>88DB6AC1-61FD-4E92-A64C-5CCD921DAC62</key>
		<dict>
			<key>xpos</key>
			<integer>35</integer>
			<key>ypos</key>
			<integer>675</integer>
		</dict>
		<key>8C42494C-CD0E-419F-B0BF-1B4C4EF4690A</key>
		<dict>
			<key>xpos</key>
			<integer>230</integer>
			<key>ypos</key>
			<integer>415</integer>
		</dict>
		<key>C031299F-B172-4F8F-A0BD-7FFF5F42131B</key>
		<dict>
			<key>xpos</key>
			<integer>35</integer>
			<key>ypos</key>
			<integer>545</integer>
		</dict>
		<key>D217F61F-10C1-45AE-8CF6-CDCA8DB72CAB</key>
		<dict>
			<key>xpos</key>
			<integer>35</integer>
			<key>ypos</key>
			<integer>415</integer>
		</dict>
		<key>E7A4429D-EF2F-4891-B0AE-B7F9EF9E57A1</key>
		<dict>
			<key>xpos</key>
			<integer>35</integer>
			<key>ypos</key>
			<integer>285</integer>
		</dict>
		<key>ED9DA9EF-CD17-46D3-9CDA-4B748B91B461</key>
		<dict>
			<key>xpos</key>
			<integer>225</integer>
			<key>ypos</key>
			<integer>155</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
