<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>darkthemeuid</key>
	<string>theme.fileimport.E121638E-C2C7-4688-9290-EAC7BBF6F713</string>
	<key>lightthemeuid</key>
	<string>theme.urlimport.F0F8B2F3-EE32-414A-A332-E92D25BDD1D7</string>
</dict>
</plist>
