<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>code</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>18FB40D7-9D10-4E46-950F-0CA5F89067A4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DBB6DEBF-DE12-4E99-9669-8129CEA9B739</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3F1BF1CE-07EF-4C9E-9920-79AAE5B17A21</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>50420229-8C42-4C53-82A9-3F010A7A7B7C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C5473C4B-7D25-442B-9608-C5BD9E450D4D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>711819CD-1849-48C2-809E-A553486BE6BB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Chand Anand</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Code</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>diffs</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Show My Diffs</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>3F1BF1CE-07EF-4C9E-9920-79AAE5B17A21</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://code.uberinternal.com/</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>50420229-8C42-4C53-82A9-3F010A7A7B7C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://code.uberinternal.com/differential/query/Xp2B76EJnCK1/</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>DBB6DEBF-DE12-4E99-9669-8129CEA9B739</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>review</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Needs Review</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>18FB40D7-9D10-4E46-950F-0CA5F89067A4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://code.uberinternal.com/{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>711819CD-1849-48C2-809E-A553486BE6BB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>diff</string>
				<key>subtext</key>
				<string>e.g. diff D123456</string>
				<key>text</key>
				<string>Open Phab Diff</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>C5473C4B-7D25-442B-9608-C5BD9E450D4D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>18FB40D7-9D10-4E46-950F-0CA5F89067A4</key>
		<dict>
			<key>xpos</key>
			<integer>45</integer>
			<key>ypos</key>
			<integer>165</integer>
		</dict>
		<key>3F1BF1CE-07EF-4C9E-9920-79AAE5B17A21</key>
		<dict>
			<key>xpos</key>
			<integer>45</integer>
			<key>ypos</key>
			<integer>45</integer>
		</dict>
		<key>50420229-8C42-4C53-82A9-3F010A7A7B7C</key>
		<dict>
			<key>xpos</key>
			<integer>245</integer>
			<key>ypos</key>
			<integer>45</integer>
		</dict>
		<key>711819CD-1849-48C2-809E-A553486BE6BB</key>
		<dict>
			<key>xpos</key>
			<integer>245</integer>
			<key>ypos</key>
			<integer>290</integer>
		</dict>
		<key>C5473C4B-7D25-442B-9608-C5BD9E450D4D</key>
		<dict>
			<key>xpos</key>
			<integer>45</integer>
			<key>ypos</key>
			<integer>290</integer>
		</dict>
		<key>DBB6DEBF-DE12-4E99-9669-8129CEA9B739</key>
		<dict>
			<key>xpos</key>
			<integer>245</integer>
			<key>ypos</key>
			<integer>165</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
