<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.chandanand.alfred</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>3078C6C3-6C05-47B0-8848-F04AB0E5BA5E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>524B3F16-EE5A-46E8-9962-B17DDC4AC287</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B247814B-2270-44D5-A47E-89B259ABD2F7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B48688C0-E93B-49F4-B1FA-4B73CC336699</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Chand Anand</string>
	<key>description</key>
	<string>Open most common folders in Finder.app</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Open Common Folders</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string></string>
				<key>sourcefile</key>
				<string>~/Desktop</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>B48688C0-E93B-49F4-B1FA-4B73CC336699</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>desktop</string>
				<key>subtext</key>
				<string>Open Desktop in Finder.app</string>
				<key>text</key>
				<string>Desktop</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>B247814B-2270-44D5-A47E-89B259ABD2F7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string></string>
				<key>sourcefile</key>
				<string>~/Downloads</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>524B3F16-EE5A-46E8-9962-B17DDC4AC287</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>downloads</string>
				<key>subtext</key>
				<string>Open downloads in Finder.app</string>
				<key>text</key>
				<string>Open Downloads</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>3078C6C3-6C05-47B0-8848-F04AB0E5BA5E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>3078C6C3-6C05-47B0-8848-F04AB0E5BA5E</key>
		<dict>
			<key>xpos</key>
			<integer>30</integer>
			<key>ypos</key>
			<integer>170</integer>
		</dict>
		<key>524B3F16-EE5A-46E8-9962-B17DDC4AC287</key>
		<dict>
			<key>xpos</key>
			<integer>255</integer>
			<key>ypos</key>
			<integer>170</integer>
		</dict>
		<key>B247814B-2270-44D5-A47E-89B259ABD2F7</key>
		<dict>
			<key>xpos</key>
			<integer>30</integer>
			<key>ypos</key>
			<integer>30</integer>
		</dict>
		<key>B48688C0-E93B-49F4-B1FA-4B73CC336699</key>
		<dict>
			<key>xpos</key>
			<integer>250</integer>
			<key>ypos</key>
			<integer>30</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
